.project-card {
    display: flex;
    flex-direction: column;
    margin: 20px;
    min-height: 400px;
    width: 600px;
    color: var(--color-neonblue);
    border: none;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 20px 1px silver;
    overflow: hidden;
    transition: 250ms ease-in;
}
.project-card:hover {
    box-shadow: 0 0 20px 1px blue;
    transform: scale(1.01);
}

.project-card-img {
    height: 250px;
    border-bottom: 2px solid black;
    overflow: hidden;
}

.project-card-img img{
    width: 100%;
}

.project-card-detail {
    padding: 10px  30px 0 30px;
    min-height: 350px;
}

.project-card-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.project-card-description {
    text-align: left;
    font-size: 1.2em;
}

/*----------------------------------------
        github detail
-----------------------------------------*/
.github-detail {
    grid-row: 3 / 4;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    padding: 10px;
}
.card-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    color: white;
    border: 3px solid var(--color-neonblue);
    border-radius: 15px;
    background-color: var(--color-neonblue);
    text-decoration: none;
    transition: 250ms ease-in-out;
}
.card-link:hover,
.card-link:focus {
    color: var(--color-neonblue);
    background-color: var(--color-lightblue);
}
.project-card-collaborators {
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
}

.project-card-collaborators ul {
    list-style: none;
}
.project-card-collaborators li {
    display: inline;
}

.project-card-technologies {
    margin-top: 20px;
    text-align: left;
}
.project-card-technologies ul {
    list-style: none;
    padding-top: 10px;
}
.project-card-technologies li {
    display: inline;
    margin-right: 10px;
}