.project-card {
    display: grid;
    grid-template-rows: 50% 40% 10%;
    margin: 20px;
    height: 550px;
    width: 600px;
    color: var(--color-neonblue);
    border: none;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 20px 1px silver;
    overflow: hidden;
    transition: 250ms ease-in;
}
.project-card:hover {
    box-shadow: 0 0 20px 1px blue;
    transform: scale(1.01);
}

.project-card-img {
    grid-row: 1 / 2;
    border-bottom: 2px solid black;
    overflow: hidden;
}

.project-card-img img{
    width: 100%;
}

.project-card-detail {
    grid-row: 2 / 3;
    padding: 5px  10px ;
}

.project-card-title {
    font-size: 2em;
    font-weight: bold;
}

.project-card-description {
    padding: 20px;
    text-align: left;
    font-size: 1.2em;

}

/*----------------------------------------
        github detail
-----------------------------------------*/
.github-detail {
    grid-row: 3 / 4;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    padding: 10px;
}
.card-link{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    color: white;
    border: 3px solid var(--color-neonblue);
    border-radius: 15px;
    background-color: var(--color-neonblue);
    text-decoration: none;
    transition: 250ms ease-in-out;
}
.card-link:hover,
.card-link:focus {
    background-color: rgb(71, 71, 182);
}
.collaborators {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0 20px;
}

.collaborators ul {
    list-style: none;
}
.collaborators li {
    display: inline;
}
.collaborators a {
}