.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.content-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    /* margin-top: 120px; */
    padding: 50px;
    width: 100vw;
    min-height: clamp(20vh, 50vh, 70vh);
    color: var(--color-lightblue);
    background-color: rgb(10, 21, 91);
}

.content-div:nth-of-type(2n) {
    color: rgb(23, 23, 126);
    background-color: var(--color-lightblue);
}

.content-div h1 {
    margin-bottom: 40px;
    color: var(--color-lightblue);
    font-size: 3em;
    font-weight: bold;
}

.content-div:nth-of-type(2n) h1 {
    color: rgb(23, 23, 126);
}
/*----------------------------------------
        About content
-----------------------------------------*/
.about-innercontent-wrapper {
    display: grid;
    grid-template-columns: 30vw 2fr;
    min-height: 30vw;
}
.content-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0 30px;
    width: 60vw;
}
.about-picture {
    width: 100%;
    height: 100%;
    background-color: orange;
}
/*----------------------------------------
        Skills content
-----------------------------------------*/

.skills-wrapper {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(3, 1fr);
}
.skills-wrapper ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 30px 0;
    width: 80vw;
    list-style: none;
}

.skills-wrapper li {
    display: flex;
    flex-direction: column;
    margin: 1vh;
}

.href-div {
    /* padding-top: 60px; */
    display: grid;
    place-items: center;
    /* height: 100vh; */
}

i {
    margin-bottom: 5px;
    font-size: 2em;
}

.fa-html5 {
    color: rgb(221, 75, 37);
}

.fa-css3-alt {
    color: rgb(36, 75, 221);
}

.fa-react {
    color: rgb(95, 211, 243);
}

.fa-js {
    color: rgb(228, 208, 75);
}

.fa-git-alt {
    color: rgb(228, 76, 48);
}

.fa-node {
    color: rgb(131, 187, 0);
}

.fa-cloud {
    color: rgb(0, 172, 218);
}

.fa-leaf {
    color: rgb(78, 162, 72);
}

.fa-database {
    color: rgb(208, 111, 47);
}

.fa-python {
    color: rgb(53, 104, 150);
}
/*----------------------------------------
        Projects content
-----------------------------------------*/
.project-card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
}
/*----------------------------------------
        Contact Form
-----------------------------------------*/
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 60vw;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    position: relative;
    margin-bottom: 20px;
    padding: 5px 10px;
    min-width: 300px;
    font-size: 16px;
    border: none;
    background-color: var(--color-lightblue);
    box-shadow: inset 0 0 3px 1px var(--color-neonbluefade);
    outline: none;
    transition: 250ms ease-in-out;
}

.contact-form input:focus,
.contact-form textarea:focus {
    box-shadow: inset 0 0 3px 2px var(--color-teal);
}

.contact-form button {
    padding: 10px 5px;
    width: 200px;
    font-size: 1.5em;
    color: var(--color-lightblue);
    border: 3px solid var(--color-neonblue);
    background-color: var(--color-neonblue);
    outline: none;
    transition: 250ms ease-in-out;
}

.contact-form button:hover,
.contact-form button:focus {
    background-color: var(--color-lightblue);
    /* text-shadow: 0 0 10px white; */
    /* border-color: blue; */
}

/*----------------------------------------
        animations
-----------------------------------------*/
.shake:hover, 
.shake:focus { 
    animation: shake 1s infinite;
    animation-timing-function: linear;   
  }
  
  @keyframes shake {
    0% { 
        transform: rotate(1deg);
        color: red; 
    }
    25% { 
        transform: rotate(-1deg);  
        /* color: white;  */
    }
    50% { 
        transform: rotate(1deg); 
        color: green; 
    }
    75% { 
        transform: rotate(-1deg); 
    }
    100% { 
        transform: rotate(1deg); 
        color: blue;  
        /* color: white;  */
    }
  }